/* 
=================
Stylin' The Site
================= 

—----Elements within Body Styling ----- 
*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background-image: url('../images/congruent_outline.png');
}

* {
  box-sizing: border-box;
}

#header-all {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #fff;
  background: #fff;
  border-bottom: 2px solid #ccc;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#header-1 {
    float: left;
    width: 270px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    padding-left:10px;
    padding-right:10px;
}

/*
.header-2 {
    width: 270px;
    float: left;
    word-spacing: 30px;
    display: inline; 
    vertical-align: bottom;
}*/


#main-container {
    padding-top: 130px;

} 

.main-sect {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
}

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}


#bio-image {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 25px;
    float: left;
}

.icon-image {    
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

.icon-image:last-child {
    margin-right: 0;
}

.port-image {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.port-labels {
  position: relative;
  float: left;
  width: 254px;
  margin: 20px 20px 25px 0;
  overflow: auto;
}

.port-labels:nth-child(even) {
  margin-right: 40px;
}


#port-tags {
    background-color: #4aaaa5;
    text-align: center;
    font-size: 20px;
    color: white;
    width:100%;
    top: 144px;
    z-index: 1;
    position: absolute;
    padding: 5px 0;
}


/* Form Stylin' */
.form-edits {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */


} 

label {
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clearfix: after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}


 /* 
—----Last Resort Paddings----- 
*/

.padme {
    padding-top:10px;
    padding-bottom: 5px;
    text-align: center;

}

.padmep {
    padding-top:30px;
    text-align: center;

}

 /* 
—----Font Styling----- 
*/


h1,h2,h3,p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

#f-center{
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

 /* 
—----List Styling----- 
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: #777777;
}


 /* 
—----Media Query----- 
*/

@media screen and (max-width: 980px) {
  /* The body's bg color will be green */
    #header-all  {
        background-color: green;
        position: static;
        width: 100%;
        margin: 0 20px;
    }

    nav {
        float: left;
    }

    .container {
        margin-left:5%;
    }

  
    .main-sect, .sidebar {
    width: 90%;
    }

    .sidebar {
        float: left;
    }

}

/* Additional Screen Sizes */
@media screen and (max-width: 768px) {
  /* The body's bg color will be light blue */
    #header-all  {
        background-color: lightblue;
        width: 100%;
        margin: 0 20px;
    }

    nav {
        float: left;
        margin-left: 5%;
    }

    .container {
        margin-left: 5%;
    }

  
    .main-sect, .sidebar {
    width: 90%;
    }

    .sidebar {
        float: left;
    }

}


/* Width at 320px and below */
@media screen and (max-width: 640px) {

    #header-all {
        position: static;
        background-color: yellow;
        width: 100%;
        margin: 0 20px;
    }

    nav {
        float: left;
        margin-left: 5%;
    }

    .container {
        margin-left: 5%;
    }

  
    .main-sect, .sidebar {
    width: 90%;
    }

    .sidebar {
        float: left;
    }

}



